node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Expo Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

server/**
.cache/
